Part 1 of Task

In [2]:
# Import libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
pd.options.display.max_columns = 100

In [3]:
#Setting path location to import data set
path = r'/Users/thaliagiraldo/Documents/Nov 2023 Instacart Basket Analysis'

In [4]:
#Import Data Set

customers = pd.read_csv(os.path.join(path,'02 Data','Original Data','customers.csv'))

In [5]:
#Renaming columns for clarity
customers.rename(columns = {'Surnam' : 'Last_Name'}, inplace = True)
customers.rename(columns = {'STATE' : 'State'}, inplace = True)
customers.rename(columns = {'First Name' : 'First_Name'}, inplace = True)

In [6]:
#Capitalizing first letter for consistency
customers.columns = [col.capitalize() for col in customers.columns]

In [7]:
customers.head()

,User_id,First_name,Last_name,Gender,State,Age,Date_joined,N_dependants,Fam_status,Income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [10]:
customers.shape

(206209, 10)

In [11]:
# Assuming 'Date_joined' is currently a datetime column
#Converting to datetime using:

customers['Date_joined'] = pd.to_datetime(customers['Date_joined'])

# Use describe to get numeric information about the datetime column
date_joined_description = customers['Date_joined'].describe()

# Display the results
print(date_joined_description)

count                           206209
mean     2018-08-17 03:06:30.029532928
min                2017-01-01 00:00:00
25%                2017-10-23 00:00:00
50%                2018-08-16 00:00:00
75%                2019-06-10 00:00:00
max                2020-04-01 00:00:00
Name: Date_joined, dtype: object

In [12]:
#Data Quality and Consistency Check -
customers.describe()

,User_id,Age,Date_joined,N_dependants,Income
count,206209.000000,206209.000000,206209,206209.000000,206209.000000
mean,103105.000000,49.501646,2018-08-17 03:06:30.029532928,1.499823,94632.852548
min,1.000000,18.000000,2017-01-01 00:00:00,0.000000,25903.000000
25%,51553.000000,33.000000,2017-10-23 00:00:00,0.000000,59874.000000
50%,103105.000000,49.000000,2018-08-16 00:00:00,1.000000,93547.000000
75%,154657.000000,66.000000,2019-06-10 00:00:00,3.000000,124244.000000
max,206209.000000,81.000000,2020-04-01 00:00:00,3.000000,593901.000000
std,59527.555167,18.480962,NaN,1.118433,42473.786988

In [13]:
#Checking if any columns have mixed data types
for col in customers.columns.tolist():
  weird = (customers[[col]].applymap(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (customers[weird]) > 0:
    print (col)

/var/folders/t7/fy2gbqpj7r54t9fzj4_6j2v80000gn/T/ipykernel_39178/2381239500.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (customers[[col]].applymap(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/t7/fy2gbqpj7r54t9fzj4_6j2v80000gn/T/ipykernel_39178/2381239500.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (customers[[col]].applymap(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/t7/fy2gbqpj7r54t9fzj4_6j2v80000gn/T/ipykernel_39178/2381239500.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (customers[[col]].applymap(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/t7/fy2gbqpj7r54t9fzj4_6j2v80000gn/T/ipykernel_39178/2381239500.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (customers[[col]].applymap(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/t7/fy2gbqpj7r54t9fzj4_6j2v80000gn/T/ipykernel_39178/2381239500.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (customers[[col]].applymap(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/t7/fy2gbqpj7r54t9fzj4_6j2v80000gn/T/ipykernel_39178/2381239500.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (customers[[col]].applymap(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/t7/fy2gbqpj7r54t9fzj4_6j2v80000gn/T/ipykernel_39178/2381239500.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (customers[[col]].applymap(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)

First_name

/var/folders/t7/fy2gbqpj7r54t9fzj4_6j2v80000gn/T/ipykernel_39178/2381239500.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (customers[[col]].applymap(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/t7/fy2gbqpj7r54t9fzj4_6j2v80000gn/T/ipykernel_39178/2381239500.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (customers[[col]].applymap(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/t7/fy2gbqpj7r54t9fzj4_6j2v80000gn/T/ipykernel_39178/2381239500.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (customers[[col]].applymap(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)

In [14]:
#Fixing the columns mixed data type by 
customers['First_name'] = customers['First_name'].astype('str')

In [15]:
#Check for missing values - there are no missing values
customers.isnull().sum()

User_id         0
First_name      0
Last_name       0
Gender          0
State           0
Age             0
Date_joined     0
N_dependants    0
Fam_status      0
Income          0
dtype: int64

In [16]:
#Checking for dups
customers_dups = customers[customers.duplicated()]

In [17]:
#no dups!
customers_dups

Empty DataFrame
Columns: [User_id, First_name, Last_name, Gender, State, Age, Date_joined, N_dependants, Fam_status, Income]
Index: []

In [18]:
customers['State'].nunique()

51

In [19]:
# Check unique values in the 'Gender' column
unique_genders = customers['Gender'].unique()

In [20]:
unique_genders

array(['Female', 'Male'], dtype=object)

In [21]:
# Check unique values in the 'State' column
unique_states = customers['State'].unique()

In [22]:
# Sorted to check for dups and errors in names - no issue
np.sort(unique_states)

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [ ]:
customers.shape

In [23]:
#Import the latest dataset 

ords_prods_merged = pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','ords_prods_merged_update.pkl'))

In [24]:
#Checking that user_id is that same data type in both files bc that is the key we're using the merge
ords_prods_merged['user_id'].dtype

dtype('int64')

In [25]:
#Further wrangling - want to make sure all naming conventions are the same across data sets to make for easier integration
ords_prods_merged.columns = [col.capitalize() for col in ords_prods_merged.columns]

In [26]:
ords_prods_merged.head(5)

,Product_id,Product_name,Aisle_id,Department_id,Prices,Order_id,User_id,Order_number,Orders_day_of_week,Order_hour_of_day,Days_since_last_order,Add_to_cart_order,Reordered,_merge,Price_range_loc,Busiest_day,Busiest_days,Busiest_period_of_day,Max_order,Loyalty_flag,Average_price,Spending_flag,Median_days_since_last_order,Frequency_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most_orders,32,Regular customer,6.935811,Low spender,8.0,Frequent_customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,32,Regular customer,6.935811,Low spender,8.0,Frequent_customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Mid-range product,Busiest day,Busiest day,Average_orders,5,New customer,7.930208,Low spender,8.0,Frequent_customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both,Mid-range product,Regularly busy,Second slowest day,Average_orders,3,New customer,4.972414,Low spender,9.0,Frequent_customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Mid-range product,Least busy,Slowest day,Average_orders,3,New customer,4.972414,Low spender,9.0,Frequent_customer

In [27]:
#Full join merge on 'user id' because I want to keep all information for now
ords_prods_merged = pd.merge(ords_prods_merged, customers, on='User_id', indicator='merge_indicator')

# Display the merged dataframe
print(ords_prods_merged)

          Product_id                Product_name  Aisle_id  Department_id  \
0                  1  Chocolate Sandwich Cookies        61             19
1                  1  Chocolate Sandwich Cookies        61             19
2                907        Premium Sliced Bacon       106             12
3                907        Premium Sliced Bacon       106             12
4               1000                    Apricots        18             10
...              ...                         ...       ...            ...
32404854       49235         Organic Half & Half        53             16
32404855       49520      Orange Sparkling Water       115              7
32404856       49520      Orange Sparkling Water       115              7
32404857       49520      Orange Sparkling Water       115              7
32404858       49520      Orange Sparkling Water       115              7

          Prices  Order_id  User_id  Order_number  Orders_day_of_week  \
0            5.8   3139998      138            28                   6
1            5.8   1977647      138            30                   6
2           20.0   3160996      138             1                   5
3           20.0   2254091      138            10                   5
4           12.9    505689      138             9                   6
...          ...       ...      ...           ...                 ...
32404854     1.8   2542346    80734             3                   3
32404855     7.5   1363278    74506             1                   1
32404856     7.5   2008002    74506             2                   0
32404857     7.5   1595973    74506             3                   1
32404858     7.5   1680478    74506             4                   0

          Order_hour_of_day  Days_since_last_order  Add_to_cart_order  \
0                        11                    3.0                  5
1                        17                   20.0                  1
2                        13                    NaN                  4
3                        14                    6.0                  1
4                        12                    7.0                  5
...                     ...                    ...                ...
32404854                  8                   22.0                  1
32404855                 14                    NaN                  1
32404856                 15                   30.0                  1
32404857                 17                    8.0                  1
32404858                 16                   13.0                  1

          Reordered _merge     Price_range_loc     Busiest_day  \
0                 0   both   Mid-range product  Regularly busy
1                 1   both   Mid-range product  Regularly busy
2                 0   both  High-range product  Regularly busy
3                 1   both  High-range product  Regularly busy
4                 0   both   Mid-range product  Regularly busy
...             ...    ...                 ...             ...
32404854          1   both   Low-range product  Regularly busy
32404855          0   both   Mid-range product  Regularly busy
32404856          1   both   Mid-range product     Busiest day
32404857          1   both   Mid-range product  Regularly busy
32404858          1   both   Mid-range product     Busiest day

                Busiest_days Busiest_period_of_day  Max_order  \
0             Regularly busy           Most_orders         32
1             Regularly busy        Average_orders         32
2             Regularly busy        Average_orders         32
3             Regularly busy           Most_orders         32
4             Regularly busy        Average_orders         32
...                      ...                   ...        ...
32404854  Second slowest day        Average_orders          3
32404855  Second busiest day           Most_orders          4
32404856         Busiest day        Average_orders          4
32404857  Second busiest day        Average_orders          4
32404858         Busiest day        Average_orders          4

              Loyalty_flag  Average_price Spending_flag  \
0         Regular customer       6.935811   Low spender
1         Regular customer       6.935811   Low spender
2         Regular customer       6.935811   Low spender
3         Regular customer       6.935811   Low spender
4         Regular customer       6.935811   Low spender
...                    ...            ...           ...
32404854      New customer       1.800000   Low spender
32404855      New customer       7.500000   Low spender
32404856      New customer       7.500000   Low spender
32404857      New customer       7.500000   Low spender
32404858      New customer       7.500000   Low spender

          Median_days_since_last_order         Frequency_flag First_name  \
0                                  8.0      Frequent_customer    Charles
1                                  8.0      Frequent_customer    Charles
2                                  8.0      Frequent_customer    Charles
3                                  8.0      Frequent_customer    Charles
4                                  8.0      Frequent_customer    Charles
...                                ...                    ...        ...
32404854                          22.0  Non-frequent_customer      Frank
32404855                          13.0       Regular customer        Joe
32404856                          13.0       Regular customer        Joe
32404857                          13.0       Regular customer        Joe
32404858                          13.0       Regular customer        Joe

         Last_name Gender      State  Age Date_joined  N_dependants  \
0              Cox   Male  Minnesota   81  2019-08-01             1
1              Cox   Male  Minnesota   81  2019-08-01             1
2              Cox   Male  Minnesota   81  2019-08-01             1
3              Cox   Male  Minnesota   81  2019-08-01             1
4              Cox   Male  Minnesota   81  2019-08-01             1
...            ...    ...        ...  ...         ...           ...
32404854    Bowers   Male    Alabama   45  2019-09-28             1
32404855    Coffey   Male    Vermont   44  2018-04-16             3
32404856    Coffey   Male    Vermont   44  2018-04-16             3
32404857    Coffey   Male    Vermont   44  2018-04-16             3
32404858    Coffey   Male    Vermont   44  2018-04-16             3

         Fam_status  Income merge_indicator
0           married   49620            both
1           married   49620            both
2           married   49620            both
3           married   49620            both
4           married   49620            both
...             ...     ...             ...
32404854    married   41072            both
32404855    married   97209            both
32404856    married   97209            both
32404857    married   97209            both
32404858    married   97209            both

[32404859 rows x 34 columns]

In [ ]:
#Removing unncessary columns
ords_prods_merged = ords_prods_merged.drop(columns = ['_merge', 'merge_indicator'])

In [ ]:
ords_prods_merged.head(5)

In [26]:
ords_prods_merged.to_pickle(os.path.join(path,'02 Data','Prepared Data', 'ords_prods_cust_merged.pkl'))