In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
#Importing data sets
path = r'/Users/thaliagiraldo/Documents/Nov 2023 Instacart Basket Analysis'

In [3]:
#Importing orders_products_prior dataframe
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [4]:
#Importing orders dataset
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_cleaned.csv'), index_col = False)

In [5]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [ ]:
df_p

In [6]:
#Removed unncessary column
df_ords = df_ords.drop(columns = ['Unnamed: 0'])

In [7]:
df_ords.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [8]:
#Merged dfords and dfordsprior
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator=True)

In [9]:
df_merged

NameError: name 'df_merged' is not defined

In [ ]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))